canvas {
    margin: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.w-250 {
    width: 250px;
}

.fl-r {
    float: right;
}

.w-100 {
    width: 100px;
}

.h-20 {
    height: 20px;
}
